<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf</title>
</head>
<body>
    <h1>{{ portfolio.name }} {{ portfolio.surname }}</h1>
    <br>
    <p><strong>Address:</strong> {{ portfolio.address }}</p>
    <p><strong>Phone Number:</strong> {{ portfolio.number }}</p>
    <p><strong>Education:</strong> {{ portfolio.education }}</p>
    <br>
    <h3>Experiences</h3> 
    <hr>
    <p>{{ portfolio.experiences }}</p>
    <br>
    <h3>Skills</h3>
    <hr>
    <p>{{ portfolio.skills }}</p>
    <br>
    <h3>Hobbies</h3>
    <hr>
    <p>{{ portfolio.hobbies }}</p>
    <br>
    <h3>Languages</h3>
    <hr>
    <p> {{ portfolio.languages }}</p>
    <br>
    <h3>Social Accounts</h3>
    <hr>
    <p>{{ portfolio.social_accounts }}</p>
    <br>
</body>
</html>

