{% extends "layout.html" %}

{% block title %}
    Portfolio list
{% endblock title %}


{% block main %}
    <h1>Portfolio list</h1>

    <a href="{% url 'portfolio:create' %}" class="btn btn-dark mb-3">Create</a>

    {% if portfolios %}
        <div class="portfolios">
            {% for portfolio in portfolios %}
                <a href="{% url 'portfolio:detail' portfolio.id %}"><h3>{{portfolio.name}} | {{portfolio.surname}}</h3></a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock main %}